# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Poetry cache
.poetry/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Redis
dump.rdb

# Environment variables
.env
